<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href=" {{url_for('static', filename='css/main.css')}}">
        <!--===============================================================================================-->
        <link rel="icon" href="{{url_for('static', filename='img/images/img-01.png')}}">
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    
                    <a class="navbar-brand" href="/"> <img class="navbar-icon" style="width:50px" src=" {{url_for('static', filename='img/images/img-01.png')}}"  alt="IMG"> Project Manager</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-gear"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="/register">Register</a></li>
                                    <li><a class="dropdown-item" href="/login">Login</a></li>
                                    <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h1 class="text-center">Project Manager</h1>
            <div class="limiter">
                <div class="container-login100">
                    <div class="wrap-login100">

                        <h2 class="text-center">Open Tasks</h2>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Date Created</th>
                                    <th scope="col">Task Name</th>
                                    <th scope="col">Assigned Developer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <tr class="table-primary">
                                        <td>{{project.date_created}}</td>
                                        <td><a href="/project/{{project.id}}">{{project.title}}</a></td>
                                        <td>{{project.description}}</td>
                                        <td>{{project.status}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <footer class="bg-dark py-4 mt-auto">
                            <div class="container px-5">
                                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                                    <div class="col-auto">
                                        <a class="link-light small" href="#!">Privacy</a>
                                        <span class="text-white mx-1">&middot;</span>
                                        <a class="link-light small" href="#!">Terms</a>
                                        <span class="text-white mx-1">&middot;</span>
                                        <a class="link-light small" href="#!">Contact</a>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <h5 class="card-title">Tasks</h5>
                                <div class="card">
                                    <img class="card-img-top" src="" alt="">
                                    <div class="card-body">
                                        <p class="card-text">Techonologies Used:</p>
                                </div>
                            </div>


                            <h1>Testing</h1>

                            
                        <!-- Bootstrap core JS-->
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
                        <!-- Core theme JS-->
                        <script src="js/scripts.js"></script>
                    </body>
                </html>
                
